exportPattern("^findr.lib$")
exportPattern("^findr.pij_rank$")
exportPattern("^findr.pij_gassist$")
exportPattern("^findr.pij_gassist_trad$")
exportPattern("^findr.pijs_gassist$")
useDynLib(libfindr)
