exportPattern("^findr.lib$")
exportPattern("^findr.pij_rank_pv$")
exportPattern("^findr.pij_rank$")
exportPattern("^findr.pijs_gassist_pv$")
exportPattern("^findr.pij_gassist$")
exportPattern("^findr.pij_gassist_trad$")
exportPattern("^findr.pijs_gassist$")
exportPattern("^findr.pijs_cassist_pv$")
exportPattern("^findr.pij_cassist$")
exportPattern("^findr.pij_cassist_trad$")
exportPattern("^findr.pijs_cassist$")
exportPattern("^findr.netr_one_greedy$")
useDynLib(libfindr)
